@charset "ISO-8859-1";

body {
   background-image: url("http://agatisys.in/ui/images/slide_bg/slide7_bg.jpg");
   background-color: #00FFFF;
   background-size: cover;
   background-repeat: no-repeat;
   color: black;
} 

.table {
	width:80%; 
    margin-left:10%; 
    margin-right:10%;
    background-color: rgba(255, 255, 255, 0.5);
    border-style: double solid;
	border-width: 10px;
	border-color: black;
	border-radius: 5px;
}

.profile {
	background-color: rgba(255, 255, 255, 0.5);
    border-style: double solid;
	border-width: 10px;
	border-color: black;
	border-radius: 5px;
}

.center {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.shift-right{
	margin-left:80%;
}

.jumbotron { 
    width: 50%; 
    height: 70%;
    margin-left:25%; 
    margin-right:25%;
    margin-top: 1%;
    text-align: center;
    /*border*/
    border-style: double solid;
	border-width: 10px;
	border-color: black;
	border-radius: 5px;
	color: #FFFFFF;
    background-color: transparent;
}

.text-lift {
	text-align: center;
	margin-top: -32px;
}

.text-center {
	text-align: center;
}

.wrap 
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.squeeze
{
	width: 250px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -30%);
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

::placeholder {
    color: black;
    opacity: 1;
}